body {
	font-family: 'Noto Sans', sans-serif;
/*	margin:0; padding:0;*/
	margin: 5vmin;
	font-weight: 100;
/*	text-align: justify; */
	background-color: #FFF;
}
.button {          
                
            }

#container {
background: WHITESMOKE;
border: 2px dashed DARKGRAY;
padding: 1em;
}

#Page {
	border: 1px solid #FFFFFF;
	padding: 0 3em;
}

#Header{
	padding-top: 100px;
	float: right;
	width: 320px;
	/*text-transform: uppercase;
	width: 100%;
	/*background-color: rgba(255,255,0,0.2);*/
}

#bilingue {padding-right: 50px; padding-top: 50px; text-align: right;}

#Header h1 {
	margin-bottom: 1em; 
	font-weight: bold;
}

#moi{
	font-size: 2em;
	font-size: 2vw;
	padding-top:80px;
}

.index {
	width: 70%;
	/*border: 1px solid blue;
	padding-left: 2em;*/
	padding-top: 115px;
	padding-bottom: 180px;
	line-height: 2em;
}

.index .numeros {
	width: 20%;	
}
.index .titres {
	width: 35%;
}
.index .sections {
	width: 30%;	
}
.index .dates {
	width: 25%;
}
.index a {
	width: 100%;
	display: block;
}

#Main {
	/*width: 70%;*/
	/*background-color: rgba(0,255,255,0.2);*/
}

#Nav{
	width: 330px;
	position: fixed;
	right: 0;
	bottom: 0;
	width: 320px;
	width: calc(320px + 3em);
	padding-bottom: 50px;
	/*background-color: rgba(255,0,255,0.2);*/
}

.projet{
	display: flex;
	width: 100%;
}

.descriptif{
	order: 2;
	font-size: 0.8em;
	width: 320px;
}

.gallery { 
	order: 1;
	flex: 1;
	padding-left: 20px;
	padding-right: 20px;
	/*border-top: 1px solid #F0F;*/
}

.mySlides {display:none}
img.mySlides {width: 50%;}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}
.w3-right {position: relative;top:-120px; right:-390px;}
.w3-left {position: relative;top:-100px;}

/*
.gallery .galleryItem {
	width: 380px; 
	height: 380px;
	margin-right: 20px;
	margin-bottom: 20px;
	float:left;
	text-align: center;
	display: table-cell;
	vertical-align: middle;*/
	/* this is fuxxored. ask adrien for help when he's had a coffee... 
}
.gallery .galleryItem img { 
	max-width: 380px;
	max-height: 380px;
	margin: auto;
}
*/

/*.gallery .galleryItem.big {
	width: 680px; 
	height: 680px;	
}
.gallery .galleryItem.big img {
	max-width: 100%;
	max-height: 100%;
}
}*/

a {
	color: #000;
	text-decoration: none;
}

a.marcel{
	background-color: #2F4F4F;
	color: #FFFFFF
	/*font-weight: bold;*/
}

#Footer{
	font-size: 12px;
	color: tomato;
	position: fixed;
	left: 0;
	bottom: 0;
	/*background-color: #201149;
	clear: both;*/
}

#floaty{
		width: 200px; height: 200px;
		background-color: #FAF0E6;
		float: right;
		font-weight: bold;
}


/*for 1400px or less, ordinateur*/

@media screen and (max-width: 1400px) {

	#global {
		width: 100%;
		margin-left: 15px;
		margin-right: 15px;
	}
	article {
		width: 78%;
	}
	aside {
		width: 20%;
	}
}

/*for 800px or less, tablettes*/

@media screen and (max-width: 800px) {

	article {
		width: auto;
		float: none;
		padding: 2%;
		margin-bottom: 2%;
	}
	aside {
		width: auto;
		float: none;
		padding: 2%;
	}
}

/*for 480px or less, tablettes*/

@media screen and (max-width: 480px) {

	header {
		height: auto;
	}
	h1 {
		font-size: 34px;
	}
	aside {
		display: none;
	}
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) 
@media (min-width: @screen-sm-min) { ... }*/

/* Medium devices (desktops, 992px and up)
@media (min-width: @screen-md-min) { ... } */

/* Large devices (large desktops, 1200px and up) 
@media (min-width: @screen-lg-min) { ... }*/